.cc-icon {
    height: 1rem;
    margin-left: 3px;
    vertical-align: top;
}

.entity-card {
    width: 49%;
    margin: 0px 0.5rem 0px 0.5rem;
    display: flex;
    align-self:flex-start;
}

.entity-row {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.db-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.5rem;
}